.toast-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: segoe ui light;
    transition: all .8s;
    opacity: 0;
    visibility: hidden;
    box-shadow: -1px 1px 6px #ccc;
}

.toast-message.active {

    opacity: 1;
    visibility: visible;

}

p {
    font-size: 20px;
}

.toast-message {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 47%;
    padding: 40px 30px;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
    width: 620px;
    z-index: 99999;
}

.toast-message__content {
    color: white;
    transform: translate(10px, 10px);
}

.toast-message__warning {
    color: white;
    font-size: 24px;
}


.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    transform: translateX(15px);
}