li.todo-list__item {
  width: 51%;
  float: left;
  margin-bottom: 10px;
  list-style: none;
}
ul.todo-list {
  width: 700px;
}
button {
  float: right;
  cursor: pointer;
  margin-left: 10px;
}
input[type="text"] {
  margin-left: 100px;
  padding: 10px 20px;
  border: none;
  border-bottom: 1px solid black;
  text-align: center;
}
span {
  padding-right: 4px;
}
