.clock {
  color: white;
  font-family: var(--font6);
  font-size: 32px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  background: linear-gradient(to top, #ffe838, #fd57fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* margin-top: 20px; */
}

.clock span {
  background: linear-gradient(to top, #ffe838, #fd57fb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}