$theme-colors: ("primary": #6200ea,
  "success": #33691e,
  "danger": #f5005f,
  "warning": #ffab00,
);

@import "~bootstrap/scss/bootstrap";


body {
  font-family: "Poppins",
  sans-serif;
  padding: 5rem;
}